@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.reenie-h1 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

* {
  outline: transparent;
  margin: 0;
  padding: 0;
  border: transparent;
  position: relative;
}
body {
  @apply max-w-[100vw] bg-primary;
}
.underline-it {
  @apply border border-solid border-b-2
}
